%h2{style: "display: inline"}= "#{@member.email}'s Page"
%a.pull-right{href: edit_member_registration_path} Edit My Info
%hr

%h3 My Reservations
- if @member.reservations.any?
  - @member.reservations.each do |r|
    = r.schedule.activity.title
    = r.schedule.date
    = r.schedule.time_range
    = "You booked for #{r.participant_count} person(s)."
    %hr
- else
  You need to start your reservation!

- if @member.activities.any?
  %h3 My Activities
  - @member.activities.each do |a|
    = link_to a.title, activity_path(a)
    %br

  %h3 My Schedules
  = link_to "calendar", my_page_schedule_path