.row
  - @tours.each_with_index do |tour, index|
  - index = index+1
    .col-md-4
      .image-card
        = link_to tour do
          .card--image
            = image_tag tour.images.first
          .card--text
            %span.category= tour.category
            %span.title= tour.title
            %span.price= "#{number_to_currency tour.price} per person"

%br
%br

%hr
.row
  - @activities.each_with_index do |activity, index|
  - index = index+1
    .col-md-3
      .image-card
        = link_to activity do
          .card--image
            = image_tag activity.thumbnail(0)
          .card--text
            %span.category= activity.category
            %span.title= activity.title
            %span.price= "#{number_to_currency activity.price} per person"
