%h2 New Activity
%hr

= bootstrap_form_for @activity do |f|
  = f.text_field :location, placeholder: 'Which city will you host your experience in?'

  = f.select :category do
    = options_for_select(Activity::CATEGORY)

  = f.text_area :intro, label: "Tell guests what makes you qualified to host this experience", placeholder: "Mentioning all the things that make you a great person to host this experience will give you bonus points while we review your submission. This could include personal qualities, qualifications, accomplishments, awards, or even the length of time you’ve been practicing or studying your craft."

  = f.text_area :overview, label: "Describe what you’ll do", placeholder: "Get guests excited with a fun, detailed description of the itinerary."

  = f.label "Choose your legal requirement status for your activity."
  = f.radio_button :legal_requirement, 0, label: 'No license applying to tours, tour guides, or tourist services is required for me to operate my experience.'
  = f.radio_button :legal_requirement, 1, label: 'I have all necessary licenses or permits that apply to tours, tour guides, and tourist services.'

  %h3 Where Should Guests Meet You?
  %span Tell guests exactly where to meet you at the start of the experience. Make sure the location is easy to find. The exact address won’t be shared until the guest’s reservation is confirmed.
  = f.text_field :address01
  = f.text_field :address02
  = f.text_field :zipcode

  = f.text_area :host_arrangement, label: "What will you provide for guests?", placeholder: "It’s important to let guests know what you’ll provide because it helps them understand what they’re paying for."
  = f.text_area :participant_preparation, label: "What should guests bring with them?", placeholder: "Think through everything a guest will need to have with them during the experience that you’re not already providing. This will be emailed to guests once they book."
  = f.text_area :notes, label: "What else do guests need to know before they book?", placeholder: "Put yourself in a guest’s shoes. Some information may seem obvious, but be detailed so guests are over-prepared."
  = f.text_field :title

  / Setting
  = f.number_field :price

  = f.submit