%div{style: 'margin-bottom: 150px;'}
  .row
    .col-md-4
      .owl-carousel
        - (0...@activity.images.count).each do |i|
          = image_tag @activity.vertical(i), class: 'img-responsive img-vertical'

    .col-md-8
      = @activity.category
      %h1= @activity.title
      %hr
      .row
        .col-md-8
          %h5= "About your host, #{@activity.member.first_name}"
          %p= @activity.intro

        .col-md-4
          %span= @activity.location
          %br
          %span= "Takes #{@activity.total_time} hours"
          %br
          %br
          %h6 Activity Level
          - if @activity.how_active == 0
            %p Mostly Seated
          - if @activity.how_active == 1
            %p Light
          - if @activity.how_active == 2
            %p Moderate
          - if @activity.how_active == 3
            %p High
          - if @activity.how_active == 4
            %p Strenuous
      %hr
      .row
        .col-md-8
          %h5 What We'll Do
          %p= @activity.overview

          %br

          %h5 What else you should know?
          %p= @activity.notes

        .col-md-4
          %h6 What I'll Provide
          %p= @activity.host_arrangement

          %br

          %h6 What to Bring
          %p= @activity.participant_preparation
          - if @activity.id_required
            %p Valid ID


  %hr
  .row
    .col-md-4
      %h1 Keep these in mind
    .col-md-8
      .row
        .col-md-6
          %h5 Cancellation policy
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .col-md-6
          %h5 Group size
          %p= "Maximum #{@activity.group_size} people per tour"

      %hr
      .row
        .col-md-6
          %h5 Who can come
          %p= "People over #{@activity.minimum_age}"
          %p= @activity.additional_requirement

        .col-md-6
          %h5 Alcohol Served
          %p
            = @activity.alcohol_served ? "Yes" : "No"


- if member_signed_in?
  - if @activity.member == current_member
    #reservation_bar
      = link_to "this is your tour. go to your host page to modify", host_activity_path(@activity)
  - else
    #reservation_bar
      .row
        .col-md-11
          %h3.intro_title Reserve this activity
        .col-md-1
          = link_to "See Dates", '#', class: 'see_dates btn btn-primary'
          = link_to "X", '#', class: 'close_reservation_bar'

      #booking_section
        .row
          .col-md-4
            %h1 When would you like to book?
          .col-md-4
            #reservation_calendar{"data-available-dates"=>"#{@available_schedules}"}
          .col-md-4
            #date_selector
- else
  #reservation_bar
    = link_to "Sign in to reserve this tour", new_member_session_path

:javascript
  var enableDays = $('#reservation_calendar').data("available-dates");
  var activity_id = "#{j params[:id]}";

  function enableAllTheseDays(date) {
      var sdate = $.datepicker.formatDate( 'yy-mm-dd', date)
      if($.inArray(sdate, enableDays) != -1) {
          return [true];
      }
      return [false];
  }

  $('#reservation_calendar').datepicker({
    dateFormat: 'yy-mm-dd',
    minDate: 0,
    beforeShowDay: enableAllTheseDays,
    onSelect: function(date) {
      $.get('/activities/activity_id/render_time_on_dates', {selected_date: date, activity_id: activity_id}, function(result) {
        $('#date_selector').html(result.html_string);
        self.reset();
      }, 'json');
    }
  });
