%h2= @activity.title
%span="#{@activity.category} Experience"
%br
%span= "Activity hosted by #{@activity.member.first_name}"
%br
%span= @activity.location
%br

%hr
%h5= "About Your Host: #{@activity.member.first_name}"
%p= @activity.intro

%hr
%h5 What We'll Do
%p= @activity.overview

%hr
%h5 What I'll Provide
%p= @activity.host_arrangement

%hr
%h5 Notes
%p= @activity.notes

%h3 Setting infos

%hr
%h5 Alcohol Served
%p= @activity.alcohol_served

%hr
%h5 Minimum Age
%p= @activity.minimum_age

%hr
%h5 How Active
%p= @activity.how_active

%hr
%h5 Additional Requirement
%p= @activity.additional_requirement

%hr
%h5 ID Required?
%p= @activity.id_required

%hr
%h5 Group size
%p= @activity.group_size

%hr
%h5 Total Time
%p= @activity.total_time
