= month_calendar events: @schedules do |date, schedules|
  %span{style: "font-style: italic;opacity: 0.7;"}= date.strftime("%d")
  - if schedules.any?
    - schedules.each do |schedule|
      %div
        %span{style: "font-weight: bold;"}= schedule.activity.title
        %br
        %span{style: "font-size: 0.8em;"}= "#{schedule.start_time.strftime("%H:%M %p")} - #{schedule.end_time.strftime("%H:%M %p")}"
        %hr

%hr
%div
  %h3 Multiple Schedule Uploader

  = bootstrap_form_tag url: "/host/schedule/" do
    / = label_tag(:q, "Search for:")
    = text_field_tag :dates, nil,  placeholder: 'Click to enable calendar'
    = text_field_tag(:start_time)
    = text_field_tag(:end_time)
    - activities_array = @member.activities.approved.map{|activity| [activity.title, activity.id]}
    = select_tag(:activity_id, options_for_select(activities_array), include_blank: 'Select the Tour')
    = submit_tag "submit", class: 'btn btn-primary'

  :javascript
    $('#dates').multiDatesPicker({
      dateFormat: "yy-mm-dd"
    });

    $('#start_time').timepicker();
    $('#start_time').on('changeTime', function() {
        $('#end_time').val($(this).val());
    });
    $('#end_time').timepicker();
