!!!
%html
  %head
    %title WeRide
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.fixed-top.header
      .container
        %a.navbar-brand{:href => root_path}
          .logo-wrapper
            = image_tag 'logo.png', alt: 'WeRide'
        %a.navbar-brand{:href => admin_root_path}
          .logo-wrapper
            Admin
        %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        / #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-start
        /   %nav.navbar.navbar-light.bg-light.justify-content-start
        /     %form.form-inline
        /       %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        /       %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

        #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
          %ul.navbar-nav
            %li.nav-item
              %a.nav-link{href: admin_activities_path} Activities
            %li.nav-item
              %a.nav-link{href: admin_reservations_path} Reservations
            %li.nav-item
              %a.nav-link{:href => destroy_member_session_path, "data-method" => "delete"} Sign Out

    .container{style: 'margin-top: 80px;'}
      = yield

